Repository deltachat/deltachat-ios, pull requests merged in 2021-06, with the labels that each got.

#1269 fixing sharing text
  DcShare/Controller/ShareViewController.swift
  DcShare/Helper/ShareAttachment.swift
Labels: share extension

#1272 DcAccounts
  DcCore/DcCore/DC/Wrapper.swift
  DcCore/DcCore/DC/events.swift
  DcCore/DcCore/Helper/DatabaseHelper.swift
  DcShare/Controller/ShareViewController.swift
  deltachat-ios/AppDelegate.swift
  deltachat-ios/Controller/AccountSetupController.swift
  deltachat-ios/Controller/EditSettingsController.swift
  deltachat-ios/Controller/SettingsController.swift
  deltachat-ios/Controller/WelcomeViewController.swift
  deltachat-ios/Coordinator/AppCoordinator.swift
  deltachat-ios/Handler/ProgressAlertHandler.swift
  deltachat-ios/Helper/LocationManager.swift
  deltachat-ios/Helper/NotificationManager.swift
  deltachat-ios/Helper/RelayHelper.swift
Labels: multi-account

#1286 add basic switch-account controls
  DcCore/DcCore/DC/Wrapper.swift
  DcShare/Controller/ShareViewController.swift
  deltachat-ios/AppDelegate.swift
  deltachat-ios/Controller/AccountSetupController.swift
  deltachat-ios/Controller/SettingsController.swift
  deltachat-ios/Controller/WelcomeViewController.swift
Labels: enhancement, multi-account
