Repository deltachat/deltachat-ios, pull requests merged in 2023-06, with the labels that each got.

#1891 add importFiles to webxdc API
  deltachat-ios/Controller/WebxdcViewController.swift
Labels: webxdc

#1893 disable "mark all read" button when it does nothing
  deltachat-ios/Controller/ChatListController.swift
Labels: enhancement

#1898 fix webxdc.js that broken after adding importFiles()
  deltachat-ios/Controller/WebxdcViewController.swift
Labels: bug, blocker, webxdc

#1904 do not exist apps unexpectedly
  deltachat-ios/Controller/WebxdcViewController.swift
  deltachat-ios/en.lproj/Localizable.strings
  scripts/untranslated.xml
Labels: webxdc
